{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">



    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">

</head>

<body>
<div class="site-wrap">

    <header class="site-navbar" role="banner">
        <div class="site-navbar-top">
            <div class="container">
                <div class="row align-items-center">

                    <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                        <a href="{% url 'index' %}"><h2>Market &#128018</h2></a>
                    </div>

                    <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center ">
                        <div class="d-none d-md-block">
                            <h2>&#127796 &#127796 &#127796 &#127796 &#127796 &#127796 &#127796</h2>
                        </div>
                    </div>

                    <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                        <div class="site-top-icons">
                            <ul>
                                <li><a href="#"><span class="icon icon-person"></span></a></li>
                                <li>
                                    <a href="{% url 'cart' %}" class="site-cart">
                                        <span class="icon icon-shopping_cart"></span>
                                        {#                      <span class="count">2</span>#}
                                        {% block cart_items %}{% endblock cart_items %}
                                    </a>
                                </li>
                                <li class="d-inline-block d-md-none ml-md-0"><a href="#"
                                                                                class="site-menu-toggle js-menu-toggle"><span
                                        class="fas fa-bars"></span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <nav class="site-navigation text-right text-md-center" role="navigation">
            <div class="container">
                <ul class="site-menu js-clone-nav d-none d-md-block">
                    <li class="active">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li><a href="{% url 'shop' %}">Catalog</a></li>
                    <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                </ul>
            </div>
        </nav>
    </header>
</div>
{% block content %}{% endblock content %}
{% block footer %}
    <footer class="site-footer border-top">
        <div class="container ">
            <div class="col-md-6 col-lg-4 offset-lg-4">
                <div class="block-5 mb-5">
                    <h3 class="footer-heading mb-4 text-center"><strong>Monkey Business</strong> by
                        Joaquín Encina.</h3>
                    <div class="d-flex">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li class="github"><a href="https://github.com/joencina/">https://github.com/joencina/</a></li>
                            <li class="email"><a href="mailto:joaquinenseg@gmail.com">joaquinenseg@gmail.com</li>
                            <li class="phone"><a href="https://api.whatsapp.com/send?phone=56988395744&text=%C2%A1Hola!">+569 8839 5744</a></li>

                        </ul>
                    </div>
                </div>


            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">

            </div>

        </div>

    </footer>
{% endblock footer %}
{% block javascript %}
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://kit.fontawesome.com/157d4dbc99.js" crossorigin="anonymous"></script>
    {% block extra_javascript %}{% endblock extra_javascript %}
{% endblock javascript %}
</body>
</html>