{% extends 'base.html' %}
{% load static %}
{% block title %}Market - Cart{% endblock title %}
{% block cart_items %}
    {% if total > 0 %}
        <span class="count">{{ total }}</span>
    {% endif %}
{% endblock cart_items %}
{% block content %}
    {% if products.count %}
        <div class="bg-light py-3">
            <div class="container">
                <div class="row ml-lg-5">
                    <div class="col-md-12 mb-0"><strong><h4>Shopping Cart</h4></strong></div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row mb-5 justify-content-center">
                    <div class="col-lg-auto">
                        <div class="site-blocks-table table-responsive">
                            <table class="table-bordered">
                                <thead>
                                <tr>
                                    <th class="product-thumbnail d-none d-lg-table-cell">Image</th>
                                    <th class="product-name ">Product</th>
                                    <th class="product-price d-none d-lg-table-cell">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-total">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}

                                    <tr>
                                        <td class="product-thumbnail d-none d-lg-table-cell">
                                            <img src="{{ product.image.url }}" alt="{{ product.description }}"
                                                 class="img-fluid"
                                                 style="max-height: 150px; width: fit-content;object-fit: cover">
                                        </td>
                                        <td class="product-name">
                                            <h2 class="h5 text-black">{{ product.name }}</h2>
                                        </td>
                                        <td class="d-none d-lg-table-cell">${{ product.price }}</td>
                                        <td>
                                            <div class="input-group" style="max-width: 120px; margin: auto">
                                                <div class="input-group-prepend">
                                                    <a href="{% url 'remove_one_from_cart' product.id %}"
                                                       class="btn btn-outline-primary" type="button">&minus;</a>
                                                </div>
                                                <input type="text" class="form-control text-center"
                                                       value="{{ product.products_on_order }}"
                                                       style="background-color: white;" readonly>
                                                <div class="input-group-append">
                                                    <a href="{% url 'add_to_cart' product.id %}"
                                                       class="btn btn-outline-primary">&plus;</a>
                                                </div>
                                            </div>

                                        </td>
                                        <td>${{ product.subtotal }}</td>
                                        <td><a href="{% url 'delete_product_from_cart' product.id %}"
                                               class="btn btn-primary btn-sm">X</a></td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>

                <div class="row justify-content-end">
                    <div class="col-auto">
                        <div class="row ">
                            <div class="col">
                                <div class="row">
                                    <div class="col-md-12 text-right border-bottom mb-5">
                                        <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                                    </div>
                                </div>
                                {% for product in products %}
                                <div class="row">
                                    <div class="col-md-9">
                                        <span >{{ product.name }}</span>
                                    </div>
                                    <div class="col-md-3 text-right">
                                        <strong >${{ product.subtotal }}</strong>
                                    </div>
                                </div>
                                {% endfor %}
                            <div class="row mb-3">

                            </div>

                                <div class="row mb-5">
                                    <div class="col-md-6">
                                        <span class="text-black">Total</span>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <strong class="text-black">${{ total_price }}</strong>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-primary btn-lg py-3 btn-block"
                                                onclick="window.location='checkout.html'">Proceed to checkout
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container ">
            <div class="row justify-content-center ">
                <div class="col-auto mt-5 ">
                    <h1>Your cart is empty.</h1>
                </div>

            </div>
            <div class="col-auto mt-5 ">
            </div>
        </div>

    {% endif %}

{% endblock content %}
